.hero-not-found {
    background-image: url('../../assets/piggy2.jpg');
    background-position: 80% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;

}

.hero-not-found-link {
    text-decoration: none;
    font-weight: bold;
    color: #00BC78;

    &:hover {
        text-decoration: underline;

    }
}

.hero-not-found-content {
    position: relative;
    top: 2rem;
    width: 200px;
    background: rgba(228, 228, 228, 0.6);
    padding: 2rem;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
}

.hero-not-found-content .subtitle {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.hero-not-found-content .text {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 0.9rem;
}

.hero-not-found-content span {
    margin-left: 10px;
}

@media (min-width: 720px) {
    .hero-not-found {
        height: 600px;
        background-position: 0;
    }

    .hero-not-found-content {
        position: absolute;
        top: 50px;
        left: 5%;
        width: 365px;
        margin: 2rem;
        text-align: left;
    }

    .hero-not-found-content .subtitle {
        font-size: 3rem;
        line-height: 60px;
    }

    .hero-not-found-content .text {
        font-size: 1.2rem;
        margin-top: 60px;
    }
}