.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
}

.sign-in-button {
    display: block;
    width: 100%;
    padding: 8px 0;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: #00bc77;
    background-color: #00bc77;
    color: #fff;


    &:disabled,
    &[disabled] {
        border-color: #8ba099;
        background-color: #8ba099;
    }
}



.sign-in-icon {
    font-size: 5rem;
}

.input-remember {
    display: flex;
}

.input-remember label {
    margin-left: 0.25rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 1rem;
    width: 100%;
}

.input-wrapper label {
    font-weight: bold;


}

.input-wrapper input {
    padding: 5px 0;
    font-size: 1.2rem;
    width: 98%;

}

.input-wrapper input::placeholder {
    color: rgb(142, 141, 141);
    font-size: .9rem;

}

.sign-button {
    margin-top: 15px;
}

.sign-button a {
    text-decoration: none;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;

    color: red;
    padding: 0.25rem;
    // position: relative;
    // bottom: -10px;
}

// .instructions>svg {
//     margin-right: 0.25rem;
// }

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}