.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    flex-wrap: wrap;
    flex-direction: column;



}

.main-nav a {
    font-weight: bold;
    color: #2c3e50;
}

.main-nav a.router-link-exact-active {
    color: #42b983;
}

.login-nav-item {
    text-decoration: none;
    background-color: transparent;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.login-nav-item:hover {
    text-decoration: underline;
}

.main-nav-logo {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.main-nav-logo-image {
    max-width: 100%;
    width: 200px;
}

.nav-user {
    padding: 0;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;

    &>* {
        margin-left: 10px;
    }
}



@media (min-width: 520px) {
    .main-nav {
        justify-content: space-between;
        flex-direction: row;
    }

    .nav-user {
        margin: 0px;
    }
}